body{
	background-color: #333333;
	font-size: 14px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.container{
	width: 960px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -300px -480px;
}
.left-tool{
	float: left;
	width: 270px;
	height: 600px;
	border-radius: 10px; 
	color: #ffffff;
}
.right-tool{
	float: left;
	width: 660px;
	margin-left: 30px;
	height: 600px;
	/*border-radius: 10px; */	
}
.head-left{
	/*border: 1px solid red;*/
	color: #ffffff;
}
.personinfo{
	/*padding-top: 15px;*/
	position: relative;
	height: 85px;
}
.img-person{
	float: left;
	padding-top: 15px;
	 padding-left: 15px;
}
.nick-person{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
}
.nick-person p{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 4px;
}
.toolbar{
	padding-bottom: 0px !important;
	margin-top: 8px;
}
.nick-person p span{
	padding-left: 10px;
}
.search{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
}
.input-search{
	padding-left: 10px;
	height: 25px;
	width: 205px;
	border: none;
	/*border: 1px solid #2e2e2e;*/
}
.switch{
	margin-top: 10px;
}
.switch ul li{
	float: left;
	text-align: center;
	line-height: 200%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
/*backcolor,border*/
.switch ul li:first-child{
	width:  95px;
	background-color: #121212;
}
.switch ul li:nth-child(2){
	width: 80px;
}
.switch ul li:nth-child(3){
	width: 95px;	
}
.chart-list{
	
}
.chart-list ul li{
	height: 70px;
	box-sizing:border-box;
	border-bottom: 1px solid #1C1C1C;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
.usercard{
	padding-left: 15px;
	padding-top: 10px;
}
.user-avatar{
	float: left;
}
.user-avatar img{
	width: 45px;
	height: 45px;
	border-radius: 5px; 
}
.user-info{
	float: left;
}
.user-info p{
	padding: 6px;
}
.user-info p span{
	padding-left: 5px;
}
.user-info p:first-child{
	color: #999;
}
.user-info p:nth-child(2){
	font-size: 12px;
}
.chat-head{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	color: #ffffff;
}
.chat-head ul li{
	float: left;
	width: 90px;
	height: 40px;
	text-align: center;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	padding-top: 10px;
	font-weight: bold;
	font-size: 15px;
}
.chat-body{
	margin-left: 15px;
	margin-right: 15px;
	width: 630px;
	height: 350px;
}
.chat-tool{
	height: 40px;
	margin-left: 15px;
	margin-right: 15px;  
}
.chat-input{
	margin-left: 15px;
	margin-right: 15px;
	height: 100px;
	width: 630px
}
.chat-tool i{
	padding: 3px;
}
.chat-input{
	margin-left: 15px;
	margin-right: 15px;
}
.chat-foot{
	margin-left: 15px;
	margin-right: 15px;
}
.input-btn{
	float: right;
}
.btn-send{
	width: 90px;
	height: 30px;
	background-color: #62A202;
	border: none;
	margin-top: 10px;
	color: #ffffff;
}
.btn-send:hover{
	background-color: #78C10A;
}