<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nepal</title>
	<link rel="stylesheet" type="text/css" href="./css/base.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<!-- 小图标文件 -->
	<link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container clearfix">
		<div class="left-tool backcolor-black">
			<header class="head-left">
				<div class="personinfo clearfix">
					<div class="img-person">
						<i class="fa fa-user img-user fa-5x"></i> 
					</div>
					<div class="nick-person">
						<p>gglinux<span><i class="fa fa-circle green fa-1x"></i></span></p>
						<p class="toolbar">
						<i class="fa fa-smile-o green fa-1x"></i><span><i class="fa fa-envelope green fa-1x"></i></span><span><i class="fa fa-music green fa-1x"></i></span></p>
					</div>
				</div>
				<div  class="search backcolor-deepblack">
					<input type="text" placeholder="搜索联系人" class="input-search backcolor-deepblack"><span><i class="fa fa-search fa-1x"></i></span>
				</div>
			</header>
			<section class="switch clearfix">
				<ul>
					<li><i class="fa fa-comment blue fa-2x"></i></li>
					<li><i class="fa fa-user blue fa-2x"></i></li>
					<li><i class="fa fa-cog blue fa-2x"></i></li>
				</ul>
			</section>
			<div class="chart-list backcolor-deepblack clearfix">
				<ul>
					<li>
						<div class="usercard clearfix">
						<!-- 这里为什么会多出两像素的 -->
							<div class="user-avatar">
								<img src="./image/avatar.png" height="45px" width="45px"></div>
							<div class="user-info grey">
								<p><i class="fa fa-circle green fa-1x"></i><span>gglinux1</span></p>
								<p>a real hero,unite to the end</p>
							</div>
						</div>
					</li>
					<li>
						<div class="usercard clearfix">
						<!-- 这里为什么会多出两像素的 -->
							<div class="user-avatar">
								<img src="./image/avatar.png" height="45px" width="45px"></div>
							<div class="user-info grey">
								<p><i class="fa fa-circle green fa-1x"></i><span>gglinux2</span></p>
								<p>a real hero,unite to the end</p>
							</div>
						</div>
					</li>
					<li>
						<div class="usercard clearfix">
						<!-- 这里为什么会多出两像素的 -->
							<div class="user-avatar">
								<img src="./image/avatar.png" height="45px" width="45px"></div>
							<div class="user-info grey">
								<p><i class="fa fa-circle green fa-1x"></i><span>gglinux3</span></p>
								<p>a real hero,unite to the end</p>
							</div>
						</div>	
					</li>
					<li>
						<div class="usercard clearfix">
						<!-- 这里为什么会多出两像素的 -->
							<div class="user-avatar">
								<img src="./image/avatar.png" height="45px" width="45px"></div>
							<div class="user-info grey">
								<p><i class="fa fa-circle green fa-1x"></i><span>gglinux4</span></p>
								<p>a real hero,unite to the end</p>
							</div>
						</div>
					</li>
					<li>
						<div class="usercard clearfix">
						<!-- 这里为什么会多出两像素的 -->
							<div class="user-avatar">
								<img src="./image/avatar.png" height="45px" width="45px"></div>
							<div class="user-info grey">
								<p><i class="fa fa-circle green fa-1x"></i><span>gglinux5</span></p>
								<p>a real hero,unite to the end</p>
							</div>
						</div>	
					</li>
					<li>
						<div class="usercard clearfix">
						<!-- 这里为什么会多出两像素的 -->
							<div class="user-avatar">
								<img src="./image/avatar.png" height="45px" width="45px"></div>
							<div class="user-info grey">
								<p><i class="fa fa-circle green fa-1x"></i><span>gglinux6</span></p>
								<p>a real hero,unite to the end</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="right-tool backcolor-black">
			<div class="chat-head clearfix">
				<ul>
					<li class="backcolor-deepblack">gglinux3</li>
				</ul>
			</div>
			<div class="chat-body backcolor-deepblack"></div>
			<p class="chat-tool">
				<i class="fa fa-font blue fa-2x"></i>
				<i class="fa fa-smile-o blue fa-2x"></i>
				<i class="fa fa-folder-open-o blue fa-2x"></i>
				<i class="fa fa-clock-o blue fa-2x"></i>
			</p>
			<div class="chat-input backcolor-deepblack"></div>
			<footer class="chat-foot clearfix">
				<div class="input-btn"><button class="btn-send">发送</button></div>
			</footer>
		</div>
	</div>
</body>
</html>