<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="./css/base.css">
	<link rel="stylesheet" type="text/css" href="./css/login.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<div class="login-box">
		<header class="login-head">用户登录</header>
		<section class="login-form">
			<div class="login-input">
				<p><input type="text" class="input wd-240 backcolor-deepblack height-40" placeholder="帐号"></p>
				<p><input type="password" class="input wd-240 height-40 backcolor-deepblack" placeholder="密码"></p>
			</div>
			<p class="login-remeber"><span>注册</span><span>忘记密码？</span></p>
			<p class="login-btn clearfix"><button class="btn wd-240">登&nbsp;录</button></p>

		</section>
	</div>
</body>
</html>